@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@import "tailwindcss";

@theme {
  /* Semantic color tokens - values change based on theme */
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-toggle: hsl(223, 31%, 20%);
  --color-bg-keypad: hsl(223, 31%, 20%);
  --color-bg-screen: hsl(224, 36%, 15%);

  --color-key-primary-bg: hsl(225, 21%, 49%);
  --color-key-primary-shadow: hsl(224, 28%, 35%);

  --color-key-secondary-bg: hsl(6, 63%, 50%);
  --color-key-secondary-shadow: hsl(6, 70%, 34%);

  --color-key-default-bg: hsl(30, 25%, 89%);
  --color-key-default-shadow: hsl(28, 16%, 65%);

  --color-text-primary: hsl(221, 14%, 31%);
  --color-text-secondary: hsl(0, 0%, 100%);
}

/* Theme 1 - Default (Navy) */
.theme-1 {
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-toggle: hsl(223, 31%, 20%);
  --color-bg-keypad: hsl(223, 31%, 20%);
  --color-bg-screen: hsl(224, 36%, 15%);

  --color-key-primary-bg: hsl(225, 21%, 49%);
  --color-key-primary-shadow: hsl(224, 28%, 35%);

  --color-key-secondary-bg: hsl(6, 63%, 50%);
  --color-key-secondary-shadow: hsl(6, 70%, 34%);

  --color-key-default-bg: hsl(30, 25%, 89%);
  --color-key-default-shadow: hsl(28, 16%, 65%);

  --color-text-primary: hsl(221, 14%, 31%);
  --color-text-secondary: hsl(0, 0%, 100%);
}

/* Theme 2 - Light */
.theme-2 {
  --color-bg-main: hsl(0, 0%, 90%);
  --color-bg-toggle: hsl(0, 5%, 81%);
  --color-bg-keypad: hsl(0, 5%, 81%);
  --color-bg-screen: hsl(0, 0%, 93%);

  --color-key-primary-bg: hsl(185, 42%, 37%);
  --color-key-primary-shadow: hsl(185, 58%, 25%);

  --color-key-secondary-bg: hsl(25, 98%, 40%);
  --color-key-secondary-shadow: hsl(25, 99%, 27%);

  --color-key-default-bg: hsl(45, 7%, 89%);
  --color-key-default-shadow: hsl(35, 11%, 61%);

  --color-text-primary: hsl(60, 10%, 19%);
  --color-text-secondary: hsl(0, 0%, 100%);
}

/* Theme 3 - Purple */
.theme-3 {
  --color-bg-main: hsl(268, 75%, 9%);
  --color-bg-toggle: hsl(268, 71%, 12%);
  --color-bg-keypad: hsl(268, 71%, 12%);
  --color-bg-screen: hsl(268, 71%, 12%);

  --color-key-primary-bg: hsl(281, 89%, 26%);
  --color-key-primary-shadow: hsl(285, 91%, 52%);

  --color-key-secondary-bg: hsl(176, 100%, 44%);
  --color-key-secondary-shadow: hsl(
    177,
    92%,
    70%
  );

  --color-key-default-bg: hsl(268, 47%, 21%);
  --color-key-default-shadow: hsl(290, 70%, 36%);

  --color-text-primary: hsl(52, 100%, 62%);
  --color-text-secondary: hsl(0, 0%, 100%);
  --color-text-tertiary: hsl(198, 20%, 13%);
}

body {
  @apply bg-bg-main text-text-secondary;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
